/*Header - Aurélio*/
#textHead{
    font-family: agency fb;
}
.menuHead{
    margin-top: 10px;
}
#btMenu{
    background-color: rgb(28, 168, 168);
    padding: 5px;
    color: black;
    font-family:Bahnschrift;
    font-size: 20px;
}
#btMenu:hover{
    background-color: aqua;
}
a{
    text-decoration: none;
    
}

body{
    background-color: rgb(23, 204, 204);
}
#principal{
    background-color:;
    max-width: auto;
}
.sessaoUm{
    display: flex;
    justify-content: center;
    width: auto;
    padding:10px;
}



/*Sessão um*/
#front{
    width:50%;
    float:right;
}
#back{
    width:50%;
    float: left;
}



/*Sessão dois*/
#full{
    width: 100%;
}




/*     Footer - André      */

#rodape{
    /*background-color: red;*/
    overflow: hidden;
    width: 100%;
    height: auto;
    margin: auto;
}

    .Logofooter, .Midtitle, .Funcionarios{
        /*background-color: blue;*/
        float: left;
        width: 33.33%;
        height: auto;
    }

    .Midtitle{
        background-color: rgba(18, 133, 133, 0.527);
        width: 32%;
        margin: 5px;
        font-size: 17px;
        text-align: center;
        font-family: agency fb;
        
  
    
    }
    #textMid{
        font-family: calibri;
        font-size: 20px;
    }

    .Logofooter img{
        margin-top: 10%;
        margin-left: 1%;

    }
    #gitIco{
        max-width:40%;

    }
    .Funcionarios{
        display: flex;
    }
    #textFunc{
        text-align: center;
        font-family: agency fb;
    }

    #gabriel{
        width:150px;
        background-color: black;
        padding: 10px;
        margin: 2px;
    }
    #andre{
        width:110px; 
        background-color: black;
        padding: 10px;
        margin: 2px;
    }
    #aurelio{
        width:90px; 
        background-color: black;
        padding: 10px;
        margin: 2px;
    }
